# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Secrets
*.env
*.env.local
client_secret_*.json
GoogleService-Info.plist
